@font-face {
  font-family: Bosnia;
  src: url(./Fonts/Bosnia-PersonalUse.otf);
}



body {
  margin: 0px;
  padding: 0px;
  font-family: Bosnia;
  text-align: center;
  background-color: #dae6f3;
  overflow: hidden;
  
  

  h1 {
    color: #42526c;
    font-size: 40px;
    transform: scale(0.9, 0.8);
  }
}

.container-fluid {
  background-image: url("./Assets/bgimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 170px;
  height: 100vh;
  overflow-x: hidden;
}

.icon {
  font-size: 30px;
  margin: 22px;
  color: #42526c;
  text-decoration: none;
}
.icon:hover {
  color: #6b91c0;
}
.col-auto:hover {
  color: #6b91c0;
  transform: scale(1.8);
  transition: color 1s ease, transform 1s ease;
}

.icon:active {
  transform: scale(0.9);
}



@media screen and (max-width: 576px) {
  .icon {
    font-size: 25px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .icon {
    font-size: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .icon {
    font-size: 35px;
  }
}

@media screen and (min-width: 993px) {
  .icon {
    font-size: 40px;
  }
}
